/* nav bar */
.right {
    float: right;
}

.left {
    float: left;
}

nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 98vw;
    border: 3px solid #3d69fc;
    border-radius: 5px;
    margin: 6px;
    margin-bottom: 15%;
}

/* main section */

body {
    font-family: 'Roboto Slab', arial;
    background-color: #b1b1b1;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    text-align: center;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: #e7e9eb;
    height: 2px;
}

.card-footer::before {
content: " ";
display: block;
width: 100%;
background: #e7e9eb;
height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color: #003cff;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 2%;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #111764;
}


